{% extends "base.html" %}

{% block content %}

<div class="container">
<div class="jumbotron">
    <h1>Contact</h1>
    <br>
    <p>Our Upchanges team will gladly receive any feedback, collaboration request, and team-joining request (especially from those who want to contribute in Upchanges's content and web development).</p>
    <br>
    <p>To contact us, please write an email to <strong>letrungkien208@gmail.com</strong> </p>
    <a href="{{ url_for('core.info') }}">Please also check our Upchanges team in this page before you do so. (just click here)</a>
    <br>
    <br>
    <p class="small text-muted">Spam email will be deleted and further block from any further communication!</p>




</div>
</div>
{% endblock %}