<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/homepage.css" type="text/css">

</head>


<body>
        <slider>
        <slide>
            <p></p>
            <button class="btn button1">Seek</button>
        </slide>
        <slide>
            <p></p>
            <button class="btn button1">Contact Us</button>
        </slide>
        <slide>
            <p></p>
            <button class="btn button1">Connect Now</button>
        </slide>
        <slide>
            <p>Welcome to Upchanges</p>
            <button class="btn button1">Getting Started</button>
        </slide>
    </slider>


</body>
</html>
