<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/homepage.css" type="text/css">
    <link rel="stylesheet" href="../static/css/font-icon.css">
    <title>Upchanges</title>
</head>
<body>
        <header class="header">
            <div class="header__logo-box">
                <img src="../static/logo6.png" alt="logo" class="header__logo">
            </div>

            <div class="header__text-box">
                <h1 class="heading-primary">
                    <span class="heading-primary--main">Upchanges</span>
                    <span class="heading-primary--sub">where people share meaningful actions</span>
                </h1>

                <a href="#about" class="btn btn--white btn--animated heading-tertiary">Get Started</a>
            </div>
        </header>

        <main>
            <section class="section-about" id="about">
                <div class="u-center-text u-margin-bottom-big">
                    <h2 class="heading-secondary">
                        Exciting network for ambitious people
                    </h2>
                </div>

                <div class="row">
                    <div class="col-1-of-2">
                        <p class="paragraph-about">
                            <strong class="heading-tertiary">Upchanges</strong> is a social media that connects you stronger with people who you knew about but are not closed with, with people who share the same interest through providing a place where you can create and do meaningful actions
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquid, aperiam atque autem dicta est facere facilis fugiat fugit id, iusto laborum maiores mollitia nisi nostrum possimus quo rerum ut!
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium aliquam blanditiis consectetur dolorem dolores, ea eos fuga minus omnis perspiciatis porro quasi sed vel, vero. Nihil repellat reprehenderit tenetur?
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis dicta dolore ducimus eveniet ex excepturi nobis nulla officiis, omnis placeat quaerat quam quas quia quo sint soluta unde velit veritatis.
                        </p>

                        <a href="#features" class="btn-text">
                            See Upchanges functions &rarr;
                        </a>
                    </div>

                    <div class="col-1-of-2">
                        <div class="composition">
                            <img src="../static/_Increasing%20number%20of%20plastic%20at%20Odaiba%20Bay8.jpg" alt="" class="composition__photo composition__photo--p1">
                            <img src="../static/logo8.png" alt="" class="composition__photo composition__photo--p2">
                            <img src="../static/new_image.jpeg" alt="" class="composition__photo composition__photo--p3">
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-features u-margin-bottom-big" id="features">
                <div class="row">
                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box__icon icon-basic-magnifier"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">
                                Identify and gather information
                            </h3>
                            <p class="feature-box__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate, deleniti dicta enim esse facere fuga hic maiores nam, nihil odio placeat quam quis, recusandae sit suscipit totam ullam voluptates!
                            </p>
                        </div>
                    </div>

                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box__icon icon-basic-lightbulb"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">
                                Contruct your idea
                            </h3>
                            <p class="feature-box__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate, deleniti dicta enim esse facere fuga hic maiores nam, nihil odio placeat quam quis, recusandae sit suscipit totam ullam voluptates!
                            </p>
                        </div>
                    </div>

                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box__icon icon-basic-link"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">
                                Invite people you want to connect
                            </h3>
                            <p class="feature-box__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate, deleniti dicta enim esse facere fuga hic maiores nam, nihil odio placeat quam quis, recusandae sit suscipit totam ullam voluptates!
                            </p>
                        </div>
                    </div>

                    <div class="col-1-of-4">
                        <div class="feature-box">
                            <i class="feature-box__icon icon-basic-compass"></i>
                            <h3 class="heading-tertiary u-margin-bottom-small">
                                Construct your idea
                            </h3>
                            <p class="feature-box__text">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium cupiditate, deleniti dicta enim esse facere fuga hic maiores nam, nihil odio placeat quam quis, recusandae sit suscipit totam ullam voluptates!
                            </p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-dev-about" id="about">
                <div class="u-center-text u-margin-bottom-big">
                    <h2 class="heading-secondary">
                        Upchanges Developer
                    </h2>

                    <div class="row">
                        <div class="col-1-of-2">
                            <div class="developer">
                                <img src="../static/profile_pics/TuanAnh.jpg" alt="Tuan Anh" class="developer__photo">
                                <div class="developer__text">
                                    <h3 class="developer__text--heading">Ngo Tuan Anh</h3>
                                    <p class="developer__text--sub-1">Web developer</p>
                                    <p class="developer__text--sub-2">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequatur consequuntur eaque mollitia natus perferendis quibusdam temporibus veritatis.
                                    </p>
                                </div>
                            </div>


                        </div>

                        <div class="col-1-of-2">
                            <div class="developer">
                                <img src="../static/profile_pics/KienLe%20Trung.jpg" alt="Le Kien" class="developer__photo">
                                <div class="developer__text">
                                    <h3 class="developer__text--heading">Le Kien Trung</h3>
                                    <p class="developer__text--sub-1">Founder</p>
                                    <p class="developer__text--sub-2">
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda consequatur consequuntur eaque mollitia natus perferendis quibusdam temporibus veritatis.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </section>
        </main>
</body>
</html>
