{% extends 'base.html' %}

{% block content %}
 <link rel="stylesheet" href="../static/css/homepage.css" type="text/css">
<slider>
        <slide>
            <p></p>
            <button class="btn button1">Seek</button>
        </slide>
        <slide>
            <p></p>
            <button class="btn button1">Contact Us</button>
        </slide>
        <slide>
            <p></p>
            <button class="btn button1">Connect Now</button>
        </slide>
        <slide>
            <p>Welcome to Upchanges</p>
            <button class="btn button1">Getting Started</button>
        </slide>
    </slider>


{% endblock %}


