<link href="../static/css/info.css" rel="stylesheet" type="text/css">
{% extends "base.html" %}

{% block content %}
<link href="../static/css/info.css" rel="stylesheet" type="text/css">

<div class="container">
<div class="jumbotron">
<h1>What is <img class="img-fluid" src="../static/logo7.png" width="100" height="25" alt="Responsive image"> ?</h1>
<p>Upchanges is a social media that connects you stronger with people who you knew about but are not closed with, with people who share the same interest through providing a place where you can create and do meaningful actions <img class="" src="../static/Uplike.png" width="25" height="25"> with them.</p>

    <p>We also provide a database full of problems, projects and ideas in the world for change makers and students to use and build upon on. 　</p>
    <p>Upchanges is completely free and has no advertisements so please support us by clicking the link below and donate!</p>
    <a href="https://docs.google.com/document/d/1gcP-__tRN_i_zHq5yp8PpSTve8LouvgyqyQlfDaAa2Y/edit?usp=sharing" target="_blank">Click here to donate (this is a link)</a>
    <br>
    <small>(The Upchanges team and Credits are shown below)</small>
    <div class="text-center">
    <img class="img-fluid" src="../static/new_image.jpeg" width="500" height="250" alt="Responsive image">
    </div>
    <br>
    <h1 class="text-center">--------------</h1>
    <h1 class="text-center">Upchanges Team:</h1>
    <br>


<div class="row">

  <div class="col-md-4">
    <div class="card" style="width: 20rem;">
  <img src="../static/Kien_upchanges.jpg" class="card-img-top responsive1" alt="..." height="300" width="318">
  <div class="card-body">
      <h5 class="card-title"><strong>Kien Le Trung</strong></h5>
      <h7><strong>Role:</strong> Founder/CEO, Website Creator, Main-Full Stack Web Developer</h7>
     <br>
      <br>
      <p class="card-text"><strong>Short Introduction:</strong> Hi everyone, I’m Kien. I came up with the idea to create this website because I appreciated the process of learning to create and do positive change projects in my high school, UWC ISAK Japan. I learnt to identify problems, think of ideas, discuss with friends and create construct projects to solve it. I think this process is very helpful and I want to share it with all people, especially young people, around the world. Through doing this, I hope that more people will be able to create positive change projects and, in a sidenote, create happy memories with their teammates when doing them. </p>
      <p><strong>Contact information:</strong> letrungkien208@gmail.com</p>
  </div>
</div>
  </div>

    <div class="col-md-4">
    <div class="card" style="width: 20rem;">
  <img src="../static/Yui_2.JPG" class="card-img-top responsive1"  alt="..." height="300" width="318">
  <div class="card-body">
      <h5 class="card-title"><strong>Yui</strong></h5>
      <h7><strong>Role:</strong> Content Creator , Management Team Member</h7>
     <br>
      <br>
      <p class="card-text"><strong>Short Introduction:</strong>
Hi guys! My name is Yui. I was born and grew up in Tokyo, Japan.
I enjoy art, and like to make accessories when I have free time.
I have been interested in many kinds of global issues, especially environmental problems.
In the past few years, I have wanted to make an online platform where teenagers can share and discuss their ideas and thoughts. So, I am so glad that Kien has invited me to this project !
I hope this website will bring the opportunity for you to think about global problems and get involved to bring positive changes to the world :)

</p>
      <p><strong>Contact information:</strong> yui.saeki.2003@gmail.com</p>
  </div>
</div>
  </div>

    <div class="col-md-4">
    <div class="card" style="width: 20rem;">
  <img src="../static/Andrei.png" class="card-img-top responsive1" alt="..." height="300" width="318">
  <div class="card-body">
      <h5 class="card-title"><strong>Andrei</strong></h5>
      <h7><strong>Role:</strong> Content Creator</h7>
     <br>
      <br>
      <p class="card-text"><strong>Short Introduction:</strong>
Hello! My name is Andrei.
My thanks to Kien for inviting me to take part in this project. It has been a lot of fun, even if I could not contribute as much as I would have liked to. I cannot wait to hopefully see Upchanges grow and develop a userbase. I feel that working on the project has really taught me to think critically about my ideas and put them into practice accordingly as well as taught me to work in a team.
</p>
      <p><strong>Contact information:</strong> asharapov2002@gmail.com</p>
  </div>
</div>
  </div>

</div>

    <br>

 <div class="row">

  <div class="col-md-4">
    <div class="card" style="width: 20rem;">
  <img src="../static/Ella.png" class="card-img-top responsive1" alt="..." height="300" width="318">
  <div class="card-body">
      <h5 class="card-title"><strong>Emmanuella</strong></h5>
      <h7><strong>Role:</strong> Content Creator</h7>
     <br>
      <br>
      <p class="card-text"><strong>Short Introduction:</strong>
Hey guys, my name is Emmanuella but you can also call me Elorm. I’m so thankful for being given a chance to take part in this project. It has been very inspiring and I hope it will go a long way to help not only individuals but countries also. My hobby is reading and I am passionate about environmental issues and cannot wait to see upchangers grow to inspire people to cause change wherever they find themselves. I hope the website brings people with common problems together so that we can find solutions to our problems.
</p>
      <p><strong>Contact information:</strong> eealomenu@gmail.com </p>
  </div>
</div>
  </div>

    <div class="col-md-4">
    <div class="card" style="width: 20rem;">
  <img src="../static/Ariunsuren.png" class="card-img-top responsive1" alt="..." height="300" width="318">
  <div class="card-body">
      <h5 class="card-title"><strong>Ariunsuren</strong></h5>
      <h7><strong>Role:</strong> Content Creator</h7>
     <br>
      <br>
      <p class="card-text"><strong>Short Introduction:</strong>
Hello everyone. My name is Ari. I love helping others that need help or support from others. Through this website I have been given a chance to do what I love .  Our project leader has been working really hard on the website, and we are trying to find many problems with many possible solutions. Not only that, each of our problems comes with a project, where you could join and help us to solve or to at least spread awareness. It is better to at least try than regretting it later. You have a chance to make things right. So be part of our website. Thank you.
</p>
      <p><strong>Contact information:</strong> oariunsuren@gmail.com </p>
  </div>
</div>
  </div>

    <div class="col-md-4">
    <div class="card" style="width: 20rem;">
  <img src="../static/tuan%20anh.jpg" class="card-img-top responsive1" alt="..." height="300" width="318">
  <div class="card-body">
      <h5 class="card-title"><strong>Tuan Anh Nguyen</strong></h5>
      <h7><strong>Role:</strong> Front-end web developer for version 0.2</h7>
     <br>
      <br>
      <p class="card-text"><strong>Short Introduction:</strong>Hi, I am Ngo Tuan Anh coming from Lai Chau, a mountainous province of Vietnam. Now, I am studying at UWC ISAK Japan and working as a Front-End Developer at Upchanges. Coding is an integral part of my life as it always brings me the joys and a broader view of solving social problems through lines of code. Through this project, I want to contribute my efforts to create a community where people can share, support each other, and make the world to become a better place.</p>
      <p><strong>Contact information:</strong> tuananhngo2513@gmail.com</p>
  </div>
</div>
  </div>

</div>

    <div class="row">
        <div class="col-md-4">
           <div class="card" style="width: 20rem;">
              <img src="../static/kaito_2.jpg" class="card-img-top responsive1" alt="..." height="300" width="318">
              <div class="card-body">
                  <h5 class="card-title"><strong>Kaito Mori</strong></h5>
                  <h7><strong>Role:</strong> Event helper</h7>
                 <br>
                  <br>
                  <p><strong>Contact information:</strong> mori.kaito.japan@gmail.com</p>
              </div>
            </div>
        </div>
    </div>
<br>
 <br>
<h1 class="text-center">--------------</h1>
<h1 class="text-center">Credits</h1>
<p class="text-left">I greatly appreciate the help from <strong> Dr Ruben </strong>, Computer Science teacher at UWC ISAK (2020~). He supported me from the beginning till the end of the developing process. Without his helps, I don't think I would have been able to create Upchanges. I also want to thank <strong> Mr Onder </strong>, the librarian at UWC ISAK (2020~). He helped our team to find reliable data source and support us during the project week (G11). Also, big thanks to my family and my friends who supported me during the process of creating Upchanges! </p>
    <p class="text-right">~By Kien Le Trung</p>

{#<p>----------------------</p>#}
{#<h2>クレジット</h2>#}
{#<h7>Campfire からの応援した人：</h7>#}
{#    <br>#}
{#    <p>高橋様</p>#}
{#    <p>光太郎様</p>#}
{#    <p>A様</p>#}
{#     <p>B様</p>#}
{#     <p>C様</p>#}


</div>
</div>
{% endblock %}