<link href="../static/css/info.css" rel="stylesheet" type="text/css">
{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="jumbotron">
<h1>What is Upchanges?</h1>
<p>Upchanges is a social media that connects you with people who you knew about but are not closed with, with people who share the same interest.</p>

    <p>We provide a place where you can do meaningful action to connect strongly with those people, a database full of problems, projects and ideas in the world for change makers and students to use.</p>
    <div class="text-center">
    <img src="../static/new_image.jpeg" width="600" height="350" alt="">
    </div>
</div>
</div>
{% endblock %}