<link href="../static/css/info.css" rel="stylesheet" type="text/css">
{% extends "base.html" %}

{% block content %}
<div class="container">
<div class="jumbotron">
<h1>What is <img class="img-fluid" src="../static/logo7.png" width="133" height="40" alt="Responsive image"> ?</h1>
<p>Upchanges is a social media that connects you stronger with people who you knew about but are not closed with, with people who share the same interest through providing a place where you can create and do meaningful actions <img class="" src="../static/Uplike.png" width="25" height="25"> with them.</p>

    <p>We also provide a database full of problems, projects and ideas in the world for change makers and students to use.</p>
    <div class="text-center">
    <img class="img-fluid" src="../static/new_image.jpeg" width="600" height="350" alt="Responsive image">
    </div>
</div>
</div>
{% endblock %}