{% extends "base.html" %}


{% block content %}

    <br>
<h3>We had send an account confirmation email to you!</h3>
<p>Please check it at {{ email }} and click the confirmation link.</p>
<p>The confirmation email will be sent from "letrungkien208@gmail.com", email of Upchanges's Founder.</p>
<br>
    <p>The confirmation will be <strong> 30 minutes </strong> from now.</p>
<p>If it is not completed in 30 minutes, you will have to request a new confirmation link.</p>
<br>
<p>Thank you!</p>


{% endblock %}