{% extends "base.html" %}

{% block content %}
    <div class="jumbotron">
        <form method="POST">
        {{ form1.hidden_tag() }}
        {{ form1.first_name.label }} {{ form1.first_name(class="form-group form-control") }} <br>
        {{ form1.middle_name.label }} {{ form1.middle_name(class="form-group form-control") }}  <br>
        {{ form1.last_name.label }} {{ form1.last_name(class="form-group form-control") }}<br>
        {{ form1.email.label }} {{ form1.email(class="form-group form-control") }}<br>
        {{ form1.password.label }} {{ form1.password(class="form-group form-control") }} <br>
        {{ form1.pass_confirm.label }} {{ form1.pass_confirm(class="form-group form-control") }}<br>
        {{ form1.blog_submit(class="btn btn-secondary") }}
        </form>
    </div>
{% endblock %}