{% extends "base.html" %}


{% block content %}

<img class="mx-auto d-block responsive3" src="../static/upchangesx2.png" alt="">
    <br>
{#<h1 class="text-center">UpchangesX</h1>#}
{#    <br>#}
<h6 class="text-center"> Thank you for subscribing to UpchangesX newsletter! It will arrive in your mail box every week. I hope you will enjoy it. For now, you could go to Upchanges homepage and explore hundreds of world issues. - CEO/Founder of Upchanges,Kien Le Trung</h6>
<a class="nav-item nav-link" href="{{ url_for('core.index') }}"><button type="button" class="btn btn-primary text center">Go to Upchanges Homepage -></button></a>

{% endblock %}