{% extends "base.html" %}

{% block content %}
    <link href="../static/css/user_blog_posts.css" rel="stylesheet" type="text/css">

 <div class="container">
    <div class="jumbotron">
        <div class="text-center">
            <h1>{{ home_user.first_name}} {{ home_user.middle_name}} {{ home_user.last_name }}'s page</h1>
            <img class="text-center img-thumbnail" src="{{ url_for('static', filename='profile_pics/'+ home_user.profile_image) }}" width = "200" height = "200" alt=""">
            <p>Email: {{ home_user.email }}</p>
        </div>

    </div>

 {% macro sentence_case(text) %}
    {{ text[0]|upper}}{{text[1:] }}
 {% endmacro %}

 <div class="container row row-cols-1 row-cols-md-2 text-center">
         {% for posts in blog_posts.items %}
          <div class="card border-dark mb-3 ">
          <div class="card-body ">
              <p class="text-left text-muted"> {% if posts.problem_type == 'education' %}
                 <img src="../static/education.png" width="25" height="25" alt="">
                {% elif posts.problem_type == 'health' %}
                     <img src="../static/heart.png" width="25" height="25" alt="">
                {% elif posts.problem_type == 'environment' %}
                     <img src="../static/tree.png" width="25" height="25" alt="">
                {% elif posts.problem_type == 'economics' %}
                     <img src="../static/money.png" width="25" height="25" alt="">
                {% elif posts.problem_type == 'society' %}
                     <img src="../static/people.png" width="25" height="25" alt="">
                {% endif %}{{ sentence_case(posts.problem_type) }}| Location: {{ posts.country }}</p>
              <h7><a class="text-warning" href="{{ url_for('users.user_posts', username=home_user.first_name+home_user.middle_name+home_user.last_name) }}"><img class="text-center rounded" src="{{ url_for('static', filename='profile_pics/'+ home_user.profile_image) }}" width = "35" height = "35" alt=""> {{ home_user.first_name}} {{ home_user.middle_name}} {{ home_user.last_name }} </a></h7>
              <p></p>
                 <h2><a class="card-tittle text-body" href="{{ url_for('blog_posts.blog_view',blog_validated_id=posts.blog_id )}}">{{ posts.problem_name }}</a></h2>
              <p><small class="text-muted">Posted on: {{ posts.date.strftime("%Y-%m-%d") }}</small></p>
              <img class="text-center rounded responsive1" src="{{ url_for('static', filename='blog_pics/'+ posts.blog_image) }}" width = "480" height = "250" alt="">
                 <br>
                 <br>
                 <p>{{ posts.text [0:100] }}...</p>
                 <br>
               <a href="{{ url_for('blog_posts.blog_view', blog_validated_id=posts.blog_id) }}"><button class="btn btn-warning">Read more</button></a>
          </div>
         </div>
         {% endfor %}
 </div>

     <nav aria-label="Page navigation example">
         <ul class="pagination justify-content-center">
            {% for page_num in blog_posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2 ) %}
                {% if blog_posts.page==page_num %}
                    <li class='page-item disabled'>
                    <a class="page-link" href="{{ url_for('users.user_posts', username=home_user.first_name+home_user.middle_name+home_user.last_name, page=page_num)}}">{{ page_num }}</a>
                    </li>
                {% else %}
                    <li class='page-item'>
                    <a class="page-link" href="{{ url_for('users.user_posts', username=home_user.first_name+home_user.middle_name+home_user.last_name, page=page_num)}}">{{ page_num }}</a>
                    </li>
                {% endif %}
             {% endfor %}
          </ul>
     </nav>

{% endblock %}