html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

slider {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1f1f1f;
    overflow: hidden;
    position: absolute;
    text-align: center;
}

slider > * {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: #1f1f1f;
    animation: slide 12s infinite;
    overflow: hidden;
}


slide:nth-child(1){
    left: 0;
    animation-delay: -1s;
    background-size: cover;
    background: linear-gradient(rgba(46, 179, 214, 0.25), rgba(67, 204, 152, 0.25)), url("../road_asphalt_marking_130996_1920x1200.jpg") center;
}
slide:nth-child(2){
    animation-delay: 2s;
    background-size: cover;
    background: linear-gradient(rgba(46, 179, 214, 0.25), rgba(67, 204, 152, 0.25)), url("../volunteer.jpg") center;
}
slide:nth-child(3){
    animation-delay: 5s;
    background-size: cover;
    background: linear-gradient(rgba(46, 179, 214, 0.25), rgba(67, 204, 152, 0.25)), url("../mountains_house_lake_reflection_117744_1280x720.jpg") center;
}
slide:nth-child(4){
    left: 0;
    animation-delay: 8s;
    background-size: cover;
    background: linear-gradient(rgba(46, 179, 214, 0.25), rgba(67, 204, 152, 0.25)), url("../mountains_solitude_house_124060_1280x960.jpg") center;
}
slide p{
    font-family: Comfortaa, serif;
    font-size: 100px;
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 340px;
    color: #fff;
    font-weight: 400;
    letter-spacing: 4px;
    animation: text 3s 1;
}


@keyframes slide{
    0% {left: 100%; width: 100%;}
    5% {left: 0;}
    25% {left: 0;}
    30% {left: -100%; width: 100%;}
    30.00001% { left: -100%; width: 0;}
    100% {left: 100%; width: 0;}
}


@keyframes text{
    0%{
        color: white;
        margin-bottom: -50px;
    }
    30% {
      letter-spacing: 15px;
        margin-bottom: -30px;
    }
    85% {
        letter-spacing: 7px;
        margin-bottom: -20px;
    }
}

.btn{
    border: 1px solid #3498db;
    background: None;
    padding: 5px 10px;
    font-size: 20px;
    font-family: "montserrat", serif;
    cursor: pointer;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
}
.button1{
    color: #fff;
}
.button1:hover{
    color: #3498db;
}
.btn::before{
    content: "";
    position: absolute;
    background: #3498db;
    left:0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: 0.8s;
}
.button1::before{
    top:0;
    border-radius: 0 0 50% 50%;
    height: 180%
}

.button1:hover::before{
    height: 180%;
}