

#cool{
background-image: url("../logo8.png");
background-repeat: no-repeat;
background-size: 1100px 400px;
/*background-position: center;*/
}

/*.problem{*/
/*    width: 200px;*/
/*    overflow: no-display;*/
/*    white-space: nowrap;*/
/*    text-overflow: ellipsis;*/
/*}*/