
/*@media screen and (min-width: 600px){*/
/*    .responsive1{*/
/*    width: 318px;*/
/*    height: 300px;*/
/*}*/

/*}*/

@media screen and (max-width: 600px){
    .responsive1{
    width: 150px;
    height: 150px;
}
}



@media screen and (max-width: 400px){
    .responsive1{
    width: 75px;
    height: 75px;
}
}

/*@media screen and (max-width: 750px){*/
/*    .responsive1{*/
/*    width: 75px;*/
/*    height: 75px;*/
/*}*/
/*}*/