{% extends "base.html" %}

{% block content %}
<div class="jumbotron">
<h1>403 PAGE NOT FOUND <span class="iconify" data-icon="ant-design:question-circle-outlined" data-inline="false"></span></h1></h1>
<p></p>
<h6 class="text-muted">The page you are looking for is not authorized for you for the reasons below and you can't access it.</h6>
<p></p>
    <br>
    <br>
<small class="text-muted">·If you tried to delete a problem, problem's information, or idea you posted and get directed here, we are sorry to tell you that you couldn't do it.</small>
<small class="text-muted">For problem page that received 1 or more interactions from other users, deleting them would affect those users.</small>
<small class="text-muted">(You had agreed with this when you post your problem page.) We are again sorry and hope you could continue to have good experiences at Upchanges.</small>
<br>
<br>
<small class="text-muted">·You could also be directed here because you tried to post more than 1 problem's info or idea. You could not post multiple problem's info or idea. Please edit the problem info or problem idea post you previously created instead.</small>
</div>
{% endblock %}